absl-py==0.1.10
alabaster==0.7.10
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
Babel==2.5.3
backcall==0.1.0
backports.functools-lru-cache==1.5
bleach==1.5.0
bokeh==0.12.15
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
cryptography==2.2.1
cycler==0.10.0
Cython==0.28.2
cytoolz==0.9.0.1
dask==0.17.2
decorator==4.2.1
distributed==1.21.6
docutils==0.14
gast==0.2.0
grpcio==1.11.0
heapdict==1.0.0
html5lib==0.9999999
idna==2.6
imageio==2.3.0
imagesize==1.0.0
imutils==0.4.6
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
locket==0.2.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
moviepy==0.2.3.4
msgpack-python==0.5.6
networkx==2.1
numpy==1.14.3
numpydoc==0.8.0
olefile==0.45.1
packaging==17.1
pandas==0.22.0
parso==0.1.1
partd==0.3.8
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
sortedcontainers==1.5.9
Sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
tblib==1.3.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
toolz==0.9.0
tornado==5.0.1
tqdm==4.23.0
traitlets==4.3.2
typing==3.6.4
urllib3==1.22
vizdoom==1.1.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
zict==0.1.3
